UnityProject/ReferenceFinder/Library
UnityProject/ReferenceFinder/Temp
UnityProject/ReferenceFinder/ReferenceFinder.sln
UnityProject/ReferenceFinder/Logs
UnityProject/ReferenceFinder/.idea
UnityProject/ReferenceFinder/obj
*.csproj
